<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--
       Notre Builder
   -->
   <extension id="fr.asi.xsp.ccexport.builder" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="fr.asi.xsp.ccexport.CcExportBuilder"/>
      </builder>
   </extension>
   
   <!-- 
       Une propriété pour savoir si on est sur un projet de type Domino 
   -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="fr.asi.xsp.ccexport.CcExportPropertyTester"
             id="fr.asi.xsp.ccexport.CcExportPropertyTester"
             namespace="fr.asi.xsp.ccexport"
             properties="isDominoProject,isSetup,isUnSetup"
             type="org.eclipse.jface.viewers.ISelection"/>
   </extension>
   
   <!--
       Les commandes utilisées par les menus et les handlers
   -->
   <extension point="org.eclipse.ui.commands">
       <command
             id="fr.asi.xsp.ccexport.command.setup"
             name="Configure Synchro"/>
       <command
             id="fr.asi.xsp.ccexport.command.unsetup"
             name="Deconfigure Synchro"/>
       <command
             id="fr.asi.xsp.ccexport.command.sync"
             name="Forcer la Synchro"/>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
       <!--
	      Un handler pour ajouter le builder sur un projet
	      Il n'est actif que sur les projets de type Domino
	   -->
	   <handler
             class="fr.asi.xsp.ccexport.handlers.SetupHandler"
             commandId="fr.asi.xsp.ccexport.command.setup">
          <activeWhen>
             <with variable="selection">
                <test property="fr.asi.xsp.ccexport.isUnSetup"/>
             </with>
          </activeWhen>
       </handler>
       
       <!--
          Un handler pour enlever le builder sur un projet.
          Il n'est actif que sur les projets de type Domino
       -->
       <handler
             class="fr.asi.xsp.ccexport.handlers.UnsetupHandler"
             commandId="fr.asi.xsp.ccexport.command.unsetup">
          <activeWhen>
             <with variable="selection">
                <test property="fr.asi.xsp.ccexport.isSetup"/>
             </with>
          </activeWhen>
       </handler>
       
       <!--
          Une handler pour forcer l'export des custom controls dans la Library.
          Il n'est actif que sur les projets de type Domino. 
       -->
       <handler
             class="fr.asi.xsp.ccexport.handlers.SyncHandler"
             commandId="fr.asi.xsp.ccexport.command.sync">
          <activeWhen>
             <with variable="selection">
                <test property="fr.asi.xsp.ccexport.isSetup"/>
             </with>
          </activeWhen>
       </handler>
    </extension>
	
	<!--
	   Les entrées de menu
    -->
    <extension point="org.eclipse.ui.menus">
       <!-- Dans le package explorer -->
       <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
          <menu
                id="fr.asi.xsp.ccexport1"
                label="Cc Export">
             <command
                   commandId="fr.asi.xsp.ccexport.command.setup"
                   label="Configure Synchro"
                   mode="FORCE_TEXT"
                   style="push"/>
             <command
                   commandId="fr.asi.xsp.ccexport.command.unsetup"
                   label="Deconfigure synchro"
                   mode="FORCE_TEXT"
                   style="push"/>
             <command
                   commandId="fr.asi.xsp.ccexport.command.sync"
                   label="Forcer la Synchro"
                   mode="FORCE_TEXT"
                   style="push"/>
             <visibleWhen>
                <with variable="selection">
                   <test property="fr.asi.xsp.ccexport.isDominoProject"/>
                </with>
             </visibleWhen>
          </menu>
       </menuContribution>
       
       <!-- Dans le menu contextuel de la vue Applications -->
       <menuContribution locationURI="popup:com.ibm.designer.domino.navigator?after=additions">
          <menu
                id="fr.asi.xsp.ccexport2"
                label="Cc Export">
             <command
                   commandId="fr.asi.xsp.ccexport.command.setup"
                   label="Configure Synchro"
                   mode="FORCE_TEXT"
                   style="push"/>
             <command
                   commandId="fr.asi.xsp.ccexport.command.unsetup"
                   label="Deconfigure synchro"
                   mode="FORCE_TEXT"
                   style="push"/>
             <command
                   commandId="fr.asi.xsp.ccexport.command.sync"
                   label="Forcer la Synchro"
                   mode="FORCE_TEXT"
                   style="push"/>
             <visibleWhen>
                <with variable="selection">
                   <test property="fr.asi.xsp.ccexport.isDominoProject"/>
                </with>
             </visibleWhen>
          </menu>
       </menuContribution>
    </extension>
    
    <!--
       Un décorateur pour afficher visuellement le lien entre les projets
    -->
    <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="fr.asi.xsp.ccexport.CcExportDecorator"
            id="fr.asi.xsp.ccexport.CcExportDecorator"
            label="Cc Export Decorator"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IProject"/>
         </enablement>
      </decorator>
   </extension>
</plugin>
